aiogram>=3.4.1
google-generativeai>=0.7.2
huggingface_hub>=0.20.0
transformers>=4.30.0
torch>=2.0.0
pydantic>=2.0.0
pyttsx3>=2.90
speechrecognition>=3.10.4
standard-aifc>=3.13.0
pydub>=0.25.1
aiohttp>=3.9.5
pillow>=10.0.0
